<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI CRUD (Create, Read, Update and Delete) with sqlalchemy Jinja2 Template</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="page-header text-center">FastAPI CRUD (Create, Read, Update and Delete) with sqlmodel Jinja2 Template</h1>
    {% block content %}
         
    {% endblock content %}
</div>
</body>
</html> 