{% extends 'base.html' %}
 
{% block content %}
<form action = "/cities/crud/update/{{ city.id }}" method = "post"> 
    <div class="mb-3">
        <label>City to edit</label>
        <input type = "text" name = "name" placeholder = "City name" class="form-control", value="{{ city.name }}" />
    </div>  
    <input type = "submit" value = "Submit" class="btn btn-primary mb-3"/>  
 </form> 
  
{% endblock content %}