{% extends 'base.html' %}
 
{% block content %}
<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-lg-9 col-xl-7">
      <div class="card rounded-3">
        <div class="card-body p-4">

          <h4 class="text-center my-3 pb-3">Cities</h4>
          <a href="crud/add" class="btn btn-primary">Add City</a>
          <br><br>

          <table class="table mb-4">
              <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">City</th>
                    <th scope="col">Actions</th>
                  </tr>
              </thead>
              <tbody>
                  {% for city in cities_ %}
                  <tr>
                    <th scope="row">{{city.id }}</th>
                    <td>{{ city.name }}</td>
                    <td>
                      <a href="crud/edit/{{ city.id }}" class="btn btn-success">Edit</a>
                      <a href="crud/delete/{{ city.id }}" class="btn btn-danger ms-1">Delete</a>
                    </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}