{% extends 'base.html' %}
 
{% block content %}
<form action = "/cities/crud/" method = "post"> 
    <div class="mb-3">
        <label>City</label>
        <input type = "text" name = "name" placeholder = "City name" class="form-control" />
        <input type = "text" name = "population" placeholder = "Population" class="form-control" />
    </div>  
    <input type = "submit" value = "Submit" class="btn btn-primary mb-3"/>  
 </form> 
  
{% endblock content %}